body
{
    background-color: #000000;
    color: #228822;
}

#content
{
    width: 100%;
    height: 80vh;
}

main
{
    width: 100%;
    height: 90%;
}

nav
{
    background-color: #111111;
}
nav a
{
    display: inline-block;
    color: #5555aa;
}